* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.hero {
    position: relative;
    height: 100vh;
    background: url("background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    top: 0;
    left: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 20px;
    color: rgb(249, 233, 51);
}

.address {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #f7ff1b;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
}

.btn:hover {
    background: white;
}
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}

.hero::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-content {
    z-index: 1;
}


.menu-header {
    background: #f4c542;
    text-align: center;
    padding: 20px;
}

.menu-header h1 {
    font-size: 32px;
}

.menu-header h2 {
    margin-top: 10px;
}

.menu-section {
    padding: 40px;
    background: #fff8e1;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.menu-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu-card h3 {
    margin-bottom: 10px;
    border-bottom: 2px solid #f4c542;
    padding-bottom: 5px;
}

.menu-card p {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}

.back-home {
    text-align: center;
    margin-top: 40px;
    color: #ffc812;
}

footer {
    background: #5c2c06;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 32px;
    }
}
